:root {
    --pink-background-color: rgba(255, 142, 198, 255);
    --aqua-background-color: #74fbea;
    --main-font: 'Roboto', sans-serif;

}

html, .body {
    height: 100%;
}

.logo {
    height: 100px;
    width: 200px;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: var(--pink-background-color);
    display: flex;
    justify-content: space-around;
    font-size: 200%;
    align-content: center;
    line-height: 100px;
}

a:hover {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: var(--aqua-background-color);
}

#sign-up-content {
    text-align: center;
    font-family: var(--main-font);
    margin-top: 100px;
}

#sign-up-btn {
    margin-top: 20px;
    width: 100px;
}

#login-content {
    text-align: center;
    font-family: var(--main-font);
    margin-top: 100px;
}

#login-btn {
    margin-top: 20px;
    width: 100px;
}

.form-label {
    margin: 10px;
    font-size: 1.25em;
}

.create-post {
    text-align: center;
}

.ind-post {
    border: 2px solid black;
    margin: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: var(--aqua-background-color);
    border: 2px solid yellow;
    height: 40px;
    padding: 10px;
}

.user-info > h5 {
    margin: 0;
}

.pfp {
    width: 30px;
    border-radius: 15px;
}

.post-content {
    text-align: center;
}

.create-labels {
    margin: 0;
}